<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/file-32.png') }}"></img>&nbsp;{{ 'file.plural'|trans }}</h4>
</div>

<h3>Créer un dossier</h3>

<p>Choisir un nom de dossier</p>

<img src="{{ asset('images/help-FILE-01-create.png') }}"></img>
