<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/file-32.png') }}"></img>&nbsp;Créer un dossier</h4>
</div>

<h5 class="w3-text-indigo">1&nbsp;&ndash;&nbsp;Cliquer sur le lien</h5>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-FILE-001-Creer-un-dossier.png') }}"></img>
</div>

<h5 class="w3-text-indigo">2&nbsp;&ndash;&nbsp;Saisir un nom</h5>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-FILE-002-Nom-du-dossier.png') }}"></img>
</div>

<h5 class="w3-text-indigo">3&nbsp;&ndash;&nbsp;Le dossier saisi apparait dans la liste</h5>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-FILE-003-Dossier-cree.png') }}"></img>
</div>
